.content {
  margin: 0 auto;
  padding: 0 $s-size;
  max-width: 50rem;

  @media (min-width: $desktop-breakpoint) {
    padding: 0 $l-size;
  }
}

.truncate {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
