.input {
  height: 50px;
  padding: $s-size;
  background: lighten($off-white, 50%);
  border: 1px solid darken($off-white, 7%);
  font-size: $font-size-large;
}

.inputSearch {
  @extend .input;

  width: 100%;
  padding: $s-size $s-size $s-size $xl-size;
  background-image: url('/images/search-icon.svg');
  background-position: $m-size 14px;
  background-repeat: no-repeat;

  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.largeInput {
  @extend .input;
  padding: $l-size;
  font-size: $l-size;
  font-weight: bold;
}

.textarea {
  @extend .input;
  width: 100%;
  height: 10rem;
}
