@import '../../styles/styles.scss';

.CategoriesView {
  padding: $l-size;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
