@import '../../styles/styles.scss';

.JokeView {
  padding: $l-size;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    color: white;
    font-size: $font-size-xlarge;
    font-style: bold;
  }
}

.joke {
  position: relative;
  padding: $l-size;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  > p {
    color: $quick-silver;
    font-size: $font-size-xlarge;
  }
}

.buttonIcon {
  position: absolute;
  top: $l-size;
  right: $l-size;
}
