* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'helvetica neue';
  font-size: $m-size;
  background: $usc-gold;
}

button {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input {
  border: none;
}
