/*
  Colors
*/

$dark-grey: #333;
$suva-grey: #888;
$blue: #1c88bf;
$dark-blue: #364052;
$off-black: #20222b;
$light-blue: #464b5e;
$off-white: #f7f7f7;
$grey: #666;
$silver: #999;
$purple: #84139e;

/*
  Spacing
*/

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

/*
  Font Size
*/

$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2rem;

/*
  Breakpoints
*/

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 64rem;
